#p-img{
    height: 480px;
}

#img-pic{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

#p-text{
    font-size: 13px;
}
#text1{
    margin-top: 130px;
}

#icon-con{
    height: 100px;
}